{{define "chat/concat.html"}}
<link rel="stylesheet" href="/web/asset/css/concat.css" />
<div id="tabbar-concat" class="mui-control-content mui-active tabbar-concat" v-show="win=='main'">
    <header class="mui-bar mui-bar-nav">

        <h1 class="mui-title">聯系人</h1>
    </header>
    <ul class="mui-table-view mui-table-view-chevron">
        <li v-for="item in friends" class="mui-table-view-cell mui-media" @tap="singlemsg(item)">
            <a class="">
                <img class="mui-media-object mui-pull-left avatar" :src="item.avatar ||'/web/asset/images/avatar0.png'">
                <div class="mui-media-body">
                    <span v-text="item.name"></span>
                    <p class='mui-ellipsis' v-text="item.id"></p>
                </div>
            </a>
        </li>

    </ul>

</div>
{{end}}